body {
    background-color: #121212;
    font-family: system-ui;
}

.bodybg {
    background-image: url(../img/un\ escritorio\ con\ un\ set-up\ de\ desarrollador\ en\ un\ entorno\ oscuro.png);
    background-size: cover;
    backdrop-filter: blur(7px);
}

.fontbase { color: #c2c9df !important;}
.fontbase2 { color: #ede5f6 !important;}

.header {
    background-color: #1f1f1f;
}